<nav class="navbar navbar-expand-lg bg-dark-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NodeJS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">
            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/460564148_1727896918021603_1396896791849078489_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEkXiZmn-HbK6e_ppW72bJddw8oK0Rru953DygrRGu73sQEylpjcwSA5B1uUCKkzMQsFHl2480FuwsgGs3A-xL3&_nc_ohc=x9D5fD7FBCQQ7kNvwGAIMJv&_nc_oc=AdlhtcFgV3odsT3XQ3uPRDGEjF3K1FAONEmuw3by-_ybZhK-O-0Bo2GbqWRLfFJrjhc&_nc_zt=23&_nc_ht=scontent.fhan14-2.fna&_nc_gid=b4EC1A37SX0XCVllphAB-g&oh=00_AfK4fIbMandvsF9Ye-h4S9T-tMcMfrGSJctV_oyzZmMfJA&oe=683D1F49" alt="Avatar" class="user-avatar" width="30" height="30">
            Nguyễn Đức Anh
            </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="/courses/create">Tạo khóa học</a>
              <hr class="dropdown-divider">
            </li>
            <li>
              <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
              <li><a class="dropdown-item" href="/me/stored/courses">Bài viết của tôi</a></li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>