extends layout/default.pug
include mixins/box_head.pug
block main
    +box-head('Home Page', 'This is the home page of our website.')
    +box-head2('Home Page', 'This is the home page of our website.')